@font-face
  font-family 'AvenirLTStd-MediumOblique'
  src url('/styles/theme/fonts/AvenirLTStd-MediumOblique') format('woff'),
      url('/styles/theme/fonts/AvenirLTStd-MediumOblique.ttf')  format('truetype')
  font-style normal
  font-weight 400

@font-face
  font-family 'AvenirLTStd-Medium'
  src url('/styles/theme/fonts/AvenirLTStd-Medium.woff') format('woff'),
      url('/styles/theme/fonts/AvenirLTStd-Medium.ttf')  format('truetype')
  font-style italic
  font-weight 400

@font-face
  font-family 'AvenirLTStd-Oblique'
  src url('/styles/theme/fonts/AvenirLTStd-Oblique.woff') format('woff'),
      url('/styles/theme/fonts/AvenirLTStd-Oblique.ttf')  format('truetype')
  font-style italic
  font-weight 400
