// Put your mixins here

font(type)
  if type is regular
    font-family AvenirLTStd-Medium, sans-serif
  if type is italic
    font-family 'AvenirLTStd-Oblique', sans-serif
  if type is italicMedium
    font-family 'AvenirLTStd-MediumOblique', sans-serif
