.label
  font(italicMedium)
  font-style italic
  font-size 28px
  filter drop-shadow(0 0 10px neonblue)

.message
  font(regular)
  font-style normal
  font-size 18px
  filter drop-shadow(0 0 30px slow)
